#pp-img {
  height: 170px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

#pp-img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.player {
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
}

/* css for cards */

.card {
  position: fixed;
  display: flex;
  height: 90px;
  width: 400px;
  background-color: #d0753cea;
  border-radius: 30px;
  box-shadow: -1rem 0 5rem #b68181e9;
  transition: 0.4s ease-out;
  font-size: 110%;
  margin: 0;
  margin-left: -60px;
}

.card:hover {
  transform: translateY(-15px);
  transition: 0.4s ease-out;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 15px;
}

/* css of footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  position: fixed;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  bottom: 0px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 15px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* css for rs logos */
.sm-logo {
  height: 40px;
  border-radius: 10px;
}
